@model List<Web.Entities.Table>
<h2>Список столов</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить стол</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Количество мест</th>
            <th>Тип</th>
            <th>Статус</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var table in Model)
        {
                <tr>
                    <td>@table.Number</td>
                    <td>@table.SeatsCount</td>
                    <td>@table.Type</td>
                    <td>@table.Status</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@table.Id" class="btn btn-info">Детали</a>
                        <a asp-action="Edit" asp-route-id="@table.Id" class="btn btn-warning">Редактировать</a>
                        <a asp-action="Delete" asp-route-id="@table.Id" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
        }
    </tbody>
</table>